@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Booking.Models.LOC_BookingModel;
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Room Add/Edit</h4>
            <form class="form-sample" method="post" asp-area="Booking" asp-controller="LOC_Booking" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="@Model.BookingID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="RegistrationName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="MobileNumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Check In Date</label>
                            <div class="col-sm-9">
                                <input class="form-control border border-dark" placeholder="dd/mm/yyyy" asp-for="CheckIn" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Check Out Date</label>
                            <div class="col-sm-9">
                                <input class="form-control border border-dark" placeholder="dd/mm/yyyy" asp-for="CheckOut" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="UserID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Room ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="RoomID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Total Days</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="TotalDays" />
                            </div>
                        </div>
                    </div>
                    @* <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Room ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="RoomID">
                            </div>
                        </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID Proof</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="IdProofName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label>Profile Image</label>
                            <input type="file" class="file-upload-default" asp-for="@Model.IdProofFile">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disable placeholder="Upload Image" asp-for="@Model.IdProofphoto">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                            @if (Model != null)
                            {
                                <div>
                                    <label>@Model.IdProofphoto</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
