@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Roomstatus.Models.LOC_RoomStatusModel;

<div class="col-12 grid-margin">
    @if (TempData["Message"] != null)
    {
        @if (!Convert.ToBoolean(TempData["Bool"]))
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
    }
    <div class="card">
        <div class="card-body">
            @if (Model.StatusID == null)
            {
                <h4 class="card-title">Status Add</h4>
            }
            else
            {
                <h4 class="card-title">Status Edit</h4>
            }
            <form method="post" asp-area="Roomstatus" asp-controller="RoomStatus" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="StatusID" />
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status Type<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control border border-dark" asp-for="Status" />
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
