USE [Hotel_Managemant]
GO
/****** Object:  StoredProcedure [dbo].[PR_Dashboord_Count]    Script Date: 04-02-2024 17:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[PR_Dashboord_Count]
AS
BEGIN
	Declare @UserCount int
	select @UserCount = COUNT(*) from MST_User

	Declare @StaffCount int
	select @StaffCount = COUNT(*) from MST_Staff

	Declare @RoleNameCount int
	select @RoleNameCount = COUNT(*) from MST_Role

	Declare @RoomTypeCount int
	select @RoomTypeCount = COUNT(*) from MST_RoomType

	Declare @RoomStatusCount int
	select @RoomStatusCount = COUNT(*) from MST_RoomStatus

	Declare @RoomCount int
	select @RoomCount = COUNT(*) from MST_Room

	Declare @BookingCount int
	select @BookingCount = COUNT(*) from MST_Booking

	Declare @PaymentCount int
	select @PaymentCount = COUNT(*) from MST_Payment

	Declare @PaymentMethodCount int
	select @PaymentMethodCount = COUNT(*) from MST_PaymentMethod

	Declare @ContactCount int
	select @ContactCount = COUNT(*) from MST_Contact

	select 
		@UserCount AS UserCount,
		@StaffCount AS StaffCount,
		@RoleNameCount AS RoleNameCount,
		@RoomTypeCount AS RoomTypeCount,
		@RoomStatusCount AS RoomStatusCount,
		@RoomCount AS RoomCount,
		@BookingCount AS BookingCount,
		@PaymentCount AS PaymentCount,
		@PaymentMethodCount AS PaymentMethodCount,
		@ContactCount AS ContactCount
END