@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Roomtype.Models.LOC_RoomTypeModel;
<div class="col-12 grid-margin">
    @if (TempData["Message"] != null)
    {
        @if (!Convert.ToBoolean(TempData["Bool"]))
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
    }
    <div class="card">
        <div class="card-body">
            @if (Model.RoomTypeID == null)
            {
                <h4 class="card-title">Room Type Add</h4>
            }
            else
            {
                <h4 class="card-title">Room Type Edit</h4>
            }
            <form method="post" asp-area="Roomtype" asp-controller="LOC_RoomType" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="RoomTypeID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Room Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="TypeName" />
                                <span class="text-danger" asp-validation-for="TypeName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pricr Per Day<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control border border-dark" asp-for="PricePerDay" />
                                <span class="text-danger" asp-validation-for="PricePerDay"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="exampleTextarea1">Description<span class="text-danger">*</span></label>
                        <textarea class="form-control border border-dark" id="exampleTextarea1" rows="4" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

