@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Role.Models.LOC_RoleModel;
<div class="col-12 grid-margin">
    @if (TempData["Message"] != null)
    {
        @if (!Convert.ToBoolean(TempData["Bool"]))
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
    }
    <div class="card">
        <div class="card-body">
            @if (Model.RoleID==null)
            {
                <h4 class="card-title">Role Add</h4>
            }
            else
            {
                <h4 class="card-title">Role Edit</h4>
            }
            <form method="post" asp-area="Role" asp-controller="LOC_Role" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="RoleID" />
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="Role" />
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="UserID" />
                            </div>
                        </div>
                    </div> *@
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
