
@using Hotel_Management.BAL;
@{
    bool isAdmin = false;
    bool isManager = false;
    if (CommonVariables.IsAdmin())
    {
        isAdmin = true;
    }
    if (CommonVariables.IsManager())
    {
        isManager = true;
    }
}
<nav class="sidebar sidebar-offcanvas " id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AdminPannel">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <div class="badge badge-danger">new</div>
            </a>
        </li>
        @if (isAdmin == true && isManager == true)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-user">
                    <i class="bi bi-person fs-3 menu-icon"></i>
                    <span class="menu-title">User</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-user">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" asp-area="User" asp-controller="SEC_User" asp-action="UserView">User List</a></li>
                    </ul>
                </div>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="bi bi-person-square menu-icon"></i>
                <span class="menu-title">Staff</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Staff" asp-controller="LOC_Staff" asp-action="StaffView">Staff List</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Role" asp-controller="LOC_Role" asp-action="RoleView">Role List</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-room" aria-expanded="false" aria-controls="ui-room">
                <i class="bi bi-door-open menu-icon"></i>
                <span class="menu-title">Room</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-room">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Room" asp-controller="LOC_Room" asp-action="RoomView">Room List</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Roomstatus" asp-controller="RoomStatus" asp-action="StatusView">Room Statu List</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Roomtype" asp-controller="LOC_RoomType" asp-action="RoomTypeView">Room Type List</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Booking" asp-controller="LOC_Booking" asp-action="bookingView">Booking List</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-payment" aria-expanded="false" aria-controls="ui-payment">
                <i class="bi bi-wallet2 menu-icon"></i>
                <span class="menu-title">Payment</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-payment">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Payment" asp-controller="LOC_Payment" asp-action="PaymentView">Payment List</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="PaymentMethod" asp-controller="LOC_PaymentMethod" asp-action="PaymentMethodView">Method List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-contact" aria-expanded="false" aria-controls="ui-contact">
                <i class="bi bi-person-lines-fill menu-icon"></i>
                <span class="menu-title">Contact</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-contact">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Contact" asp-controller="LOC_Contact" asp-action="ContactView">Contact List</a></li>
                </ul>
            </div>
        </li>



    </ul>
</nav>

