@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonModel

@{
    string pageTitle = Model.PersonId == 0 ? "Add Employee" : "Edit Employee";
}

<h2>@pageTitle</h2>

<form method="post" asp-controller="Person" asp-action="SaveForAddEdit">
    @if (Model.PersonId != 0)
    {
        <input type="hidden" asp-for="PersonId" />
    }

    <div>
        <label asp-for="PersonName"></label>
        <input asp-for="PersonName" />
        <span asp-validation-for="PersonName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PersonEmail"></label>
        <input asp-for="PersonEmail" />
        <span asp-validation-for="PersonEmail" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PersonContact"></label>
        <input asp-for="PersonContact" />
        <span asp-validation-for="PersonContact" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CreditCardNumber"></label>
        <input asp-for="CreditCardNumber" />
        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Amount"></label>
        <input asp-for="Amount" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CheckedTermsConditions"></label>
        <input asp-for="CheckedTermsConditions" />
        <span asp-validation-for="CheckedTermsConditions" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="NoOfFriends"></label>
        <input asp-for="NoOfFriends" />
        <span asp-validation-for="NoOfFriends" class="text-danger"></span>
    </div>

    <button type="submit">@pageTitle</button>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
